.p-inputtext:enabled:focus {
  box-shadow: none;
  border-color: var(--secondary-color);
}
.p-inputtext:enabled:hover {
  border-color: var(--secondary-color);
}

.p-input-icon-right > i:last-of-type,
.p-input-icon-right > svg:last-of-type,
.p-input-icon-right > .p-input-suffix {
  top: 50%;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
