.react-tel-input .form-control {
  width: 100%;
  height: 42px;
}

.react-tel-input-invalid .form-control {
  border-color: var(--invalid-control-color);
}
.react-tel-input .form-control:focus {
  box-shadow: none;
  border: 1px solid var(--secondary-color);
}
.react-tel-input .form-control:hover {
  border: 1px solid var(--secondary-color);
}

.react-tel-input .country-list {
  width: 320px;
}

.react-tel-input .flag {
  background: url(https://primefaces.org/cdn/primereact/images/flag/flags_responsive.png)
    no-repeat;
  background-size: 100%;
  vertical-align: middle;
}

.react-tel-input .ad {
  background-position: 0 0.413223%;
}
.react-tel-input .ae {
  background-position: 0 0.826446%;
}
.react-tel-input .af {
  background-position: 0 1.239669%;
}
.react-tel-input .ag {
  background-position: 0 1.652893%;
}
.react-tel-input .ai {
  background-position: 0 2.066116%;
}
.react-tel-input .al {
  background-position: 0 2.479339%;
}
.react-tel-input .am {
  background-position: 0 2.892562%;
}
.react-tel-input .an {
  background-position: 0 3.305785%;
}
.react-tel-input .ao {
  background-position: 0 3.719008%;
}
.react-tel-input .aq {
  background-position: 0 4.132231%;
}
.react-tel-input .ar {
  background-position: 0 4.545455%;
}
.react-tel-input .as {
  background-position: 0 4.958678%;
}
.react-tel-input .at {
  background-position: 0 5.371901%;
}
.react-tel-input .au {
  background-position: 0 5.785124%;
}
.react-tel-input .aw {
  background-position: 0 6.198347%;
}
.react-tel-input .az {
  background-position: 0 6.61157%;
}
.react-tel-input .ba {
  background-position: 0 7.024793%;
}
.react-tel-input .bb {
  background-position: 0 7.438017%;
}
.react-tel-input .bd {
  background-position: 0 7.85124%;
}
.react-tel-input .be {
  background-position: 0 8.264463%;
}
.react-tel-input .bf {
  background-position: 0 8.677686%;
}
.react-tel-input .bg {
  background-position: 0 9.090909%;
}
.react-tel-input .bh {
  background-position: 0 9.504132%;
}
.react-tel-input .bi {
  background-position: 0 9.917355%;
}
.react-tel-input .bj {
  background-position: 0 10.330579%;
}
.react-tel-input .bm {
  background-position: 0 10.743802%;
}
.react-tel-input .bn {
  background-position: 0 11.157025%;
}
.react-tel-input .bo {
  background-position: 0 11.570248%;
}
.react-tel-input .br {
  background-position: 0 11.983471%;
}
.react-tel-input .bs {
  background-position: 0 12.396694%;
}
.react-tel-input .bt {
  background-position: 0 12.809917%;
}
.react-tel-input .bv {
  background-position: 0 13.22314%;
}
.react-tel-input .bw {
  background-position: 0 13.636364%;
}
.react-tel-input .by {
  background-position: 0 14.049587%;
}
.react-tel-input .bz {
  background-position: 0 14.46281%;
}
.react-tel-input .ca {
  background-position: 0 14.876033%;
}
.react-tel-input .cc {
  background-position: 0 15.289256%;
}
.react-tel-input .cd {
  background-position: 0 15.702479%;
}
.react-tel-input .cf {
  background-position: 0 16.115702%;
}
.react-tel-input .cg {
  background-position: 0 16.528926%;
}
.react-tel-input .ch {
  background-position: 0 16.942149%;
}
.react-tel-input .ci {
  background-position: 0 17.355372%;
}
.react-tel-input .ck {
  background-position: 0 17.768595%;
}
.react-tel-input .cl {
  background-position: 0 18.181818%;
}
.react-tel-input .cm {
  background-position: 0 18.595041%;
}
.react-tel-input .cn {
  background-position: 0 19.008264%;
}
.react-tel-input .co {
  background-position: 0 19.421488%;
}
.react-tel-input .cr {
  background-position: 0 19.834711%;
}
.react-tel-input .cu {
  background-position: 0 20.247934%;
}
.react-tel-input .cv {
  background-position: 0 20.661157%;
}
.react-tel-input .cx {
  background-position: 0 21.07438%;
}
.react-tel-input .cy {
  background-position: 0 21.487603%;
}
.react-tel-input .cz {
  background-position: 0 21.900826%;
}
.react-tel-input .de {
  background-position: 0 22.31405%;
}
.react-tel-input .dj {
  background-position: 0 22.727273%;
}
.react-tel-input .dk {
  background-position: 0 23.140496%;
}
.react-tel-input .dm {
  background-position: 0 23.553719%;
}
.react-tel-input .do {
  background-position: 0 23.966942%;
}
.react-tel-input .dz {
  background-position: 0 24.380165%;
}
.react-tel-input .ec {
  background-position: 0 24.793388%;
}
.react-tel-input .ee {
  background-position: 0 25.206612%;
}
.react-tel-input .eg {
  background-position: 0 25.619835%;
}
.react-tel-input .eh {
  background-position: 0 26.033058%;
}
.react-tel-input .er {
  background-position: 0 26.446281%;
}
.react-tel-input .es {
  background-position: 0 26.859504%;
}
.react-tel-input .et {
  background-position: 0 27.272727%;
}
.react-tel-input .fi {
  background-position: 0 27.68595%;
}
.react-tel-input .fj {
  background-position: 0 28.099174%;
}
.react-tel-input .fk {
  background-position: 0 28.512397%;
}
.react-tel-input .fm {
  background-position: 0 28.92562%;
}
.react-tel-input .fo {
  background-position: 0 29.338843%;
}
.react-tel-input .fr {
  background-position: 0 29.752066%;
}
.react-tel-input .ga {
  background-position: 0 30.165289%;
}
.react-tel-input .gd {
  background-position: 0 30.578512%;
}
.react-tel-input .ge {
  background-position: 0 30.991736%;
}
.react-tel-input .gf {
  background-position: 0 31.404959%;
}
.react-tel-input .gh {
  background-position: 0 31.818182%;
}
.react-tel-input .gi {
  background-position: 0 32.231405%;
}
.react-tel-input .gl {
  background-position: 0 32.644628%;
}
.react-tel-input .gm {
  background-position: 0 33.057851%;
}
.react-tel-input .gn {
  background-position: 0 33.471074%;
}
.react-tel-input .gp {
  background-position: 0 33.884298%;
}
.react-tel-input .gq {
  background-position: 0 34.297521%;
}
.react-tel-input .gr {
  background-position: 0 34.710744%;
}
.react-tel-input .gs {
  background-position: 0 35.123967%;
}
.react-tel-input .gt {
  background-position: 0 35.53719%;
}
.react-tel-input .gu {
  background-position: 0 35.950413%;
}
.react-tel-input .gw {
  background-position: 0 36.363636%;
}
.react-tel-input .gy {
  background-position: 0 36.77686%;
}
.react-tel-input .hk {
  background-position: 0 37.190083%;
}
.react-tel-input .hm {
  background-position: 0 37.603306%;
}
.react-tel-input .hn {
  background-position: 0 38.016529%;
}
.react-tel-input .hr {
  background-position: 0 38.429752%;
}
.react-tel-input .ht {
  background-position: 0 38.842975%;
}
.react-tel-input .hu {
  background-position: 0 39.256198%;
}
.react-tel-input .id {
  background-position: 0 39.669421%;
}
.react-tel-input .ie {
  background-position: 0 40.082645%;
}
.react-tel-input .il {
  background-position: 0 40.495868%;
}
.react-tel-input .in {
  background-position: 0 40.909091%;
}
.react-tel-input .io {
  background-position: 0 41.322314%;
}
.react-tel-input .iq {
  background-position: 0 41.735537%;
}
.react-tel-input .ir {
  background-position: 0 42.14876%;
}
.react-tel-input .is {
  background-position: 0 42.561983%;
}
.react-tel-input .it {
  background-position: 0 42.975207%;
}
.react-tel-input .jm {
  background-position: 0 43.38843%;
}
.react-tel-input .jo {
  background-position: 0 43.801653%;
}
.react-tel-input .jp {
  background-position: 0 44.214876%;
}
.react-tel-input .ke {
  background-position: 0 44.628099%;
}
.react-tel-input .kg {
  background-position: 0 45.041322%;
}
.react-tel-input .kh {
  background-position: 0 45.454545%;
}
.react-tel-input .ki {
  background-position: 0 45.867769%;
}
.react-tel-input .km {
  background-position: 0 46.280992%;
}
.react-tel-input .kn {
  background-position: 0 46.694215%;
}
.react-tel-input .kp {
  background-position: 0 47.107438%;
}
.react-tel-input .kr {
  background-position: 0 47.520661%;
}
.react-tel-input .kw {
  background-position: 0 47.933884%;
}
.react-tel-input .ky {
  background-position: 0 48.347107%;
}
.react-tel-input .kz {
  background-position: 0 48.760331%;
}
.react-tel-input .la {
  background-position: 0 49.173554%;
}
.react-tel-input .lb {
  background-position: 0 49.586777%;
}
.react-tel-input .lc {
  background-position: 0 50%;
}
.react-tel-input .li {
  background-position: 0 50.413223%;
}
.react-tel-input .lk {
  background-position: 0 50.826446%;
}
.react-tel-input .lr {
  background-position: 0 51.239669%;
}
.react-tel-input .ls {
  background-position: 0 51.652893%;
}
.react-tel-input .lt {
  background-position: 0 52.066116%;
}
.react-tel-input .lu {
  background-position: 0 52.479339%;
}
.react-tel-input .lv {
  background-position: 0 52.892562%;
}
.react-tel-input .ly {
  background-position: 0 53.305785%;
}
.react-tel-input .ma {
  background-position: 0 53.719008%;
}
.react-tel-input .mc {
  background-position: 0 54.132231%;
}
.react-tel-input .md {
  background-position: 0 54.545455%;
}
.react-tel-input .me {
  background-position: 0 54.958678%;
}
.react-tel-input .mg {
  background-position: 0 55.371901%;
}
.react-tel-input .mh {
  background-position: 0 55.785124%;
}
.react-tel-input .mk {
  background-position: 0 56.198347%;
}
.react-tel-input .ml {
  background-position: 0 56.61157%;
}
.react-tel-input .mm {
  background-position: 0 57.024793%;
}
.react-tel-input .mn {
  background-position: 0 57.438017%;
}
.react-tel-input .mo {
  background-position: 0 57.85124%;
}
.react-tel-input .mp {
  background-position: 0 58.264463%;
}
.react-tel-input .mq {
  background-position: 0 58.677686%;
}
.react-tel-input .mr {
  background-position: 0 59.090909%;
}
.react-tel-input .ms {
  background-position: 0 59.504132%;
}
.react-tel-input .mt {
  background-position: 0 59.917355%;
}
.react-tel-input .mu {
  background-position: 0 60.330579%;
}
.react-tel-input .mv {
  background-position: 0 60.743802%;
}
.react-tel-input .mw {
  background-position: 0 61.157025%;
}
.react-tel-input .mx {
  background-position: 0 61.570248%;
}
.react-tel-input .my {
  background-position: 0 61.983471%;
}
.react-tel-input .mz {
  background-position: 0 62.396694%;
}
.react-tel-input .na {
  background-position: 0 62.809917%;
}
.react-tel-input .nc {
  background-position: 0 63.22314%;
}
.react-tel-input .ne {
  background-position: 0 63.636364%;
}
.react-tel-input .nf {
  background-position: 0 64.049587%;
}
.react-tel-input .ng {
  background-position: 0 64.46281%;
}
.react-tel-input .ni {
  background-position: 0 64.876033%;
}
.react-tel-input .nl {
  background-position: 0 65.289256%;
}
.react-tel-input .no {
  background-position: 0 65.702479%;
}
.react-tel-input .np {
  background-position: 0 66.115702%;
}
.react-tel-input .nr {
  background-position: 0 66.528926%;
}
.react-tel-input .nu {
  background-position: 0 66.942149%;
}
.react-tel-input .nz {
  background-position: 0 67.355372%;
}
.react-tel-input .om {
  background-position: 0 67.768595%;
}
.react-tel-input .pa {
  background-position: 0 68.181818%;
}
.react-tel-input .pe {
  background-position: 0 68.595041%;
}
.react-tel-input .pf {
  background-position: 0 69.008264%;
}
.react-tel-input .pg {
  background-position: 0 69.421488%;
}
.react-tel-input .ph {
  background-position: 0 69.834711%;
}
.react-tel-input .pk {
  background-position: 0 70.247934%;
}
.react-tel-input .pl {
  background-position: 0 70.661157%;
}
.react-tel-input .pm {
  background-position: 0 71.07438%;
}
.react-tel-input .pn {
  background-position: 0 71.487603%;
}
.react-tel-input .pr {
  background-position: 0 71.900826%;
}
.react-tel-input .pt {
  background-position: 0 72.31405%;
}
.react-tel-input .pw {
  background-position: 0 72.727273%;
}
.react-tel-input .py {
  background-position: 0 73.140496%;
}
.react-tel-input .qa {
  background-position: 0 73.553719%;
}
.react-tel-input .re {
  background-position: 0 73.966942%;
}
.react-tel-input .ro {
  background-position: 0 74.380165%;
}
.react-tel-input .rs {
  background-position: 0 74.793388%;
}
.react-tel-input .ru {
  background-position: 0 75.206612%;
}
.react-tel-input .rw {
  background-position: 0 75.619835%;
}
.react-tel-input .sa {
  background-position: 0 76.033058%;
}
.react-tel-input .sb {
  background-position: 0 76.446281%;
}
.react-tel-input .sc {
  background-position: 0 76.859504%;
}
.react-tel-input .sd {
  background-position: 0 77.272727%;
}
.react-tel-input .se {
  background-position: 0 77.68595%;
}
.react-tel-input .sg {
  background-position: 0 78.099174%;
}
.react-tel-input .sh {
  background-position: 0 78.512397%;
}
.react-tel-input .si {
  background-position: 0 78.92562%;
}
.react-tel-input .sj {
  background-position: 0 79.338843%;
}
.react-tel-input .sk {
  background-position: 0 79.752066%;
}
.react-tel-input .sl {
  background-position: 0 80.165289%;
}
.react-tel-input .sm {
  background-position: 0 80.578512%;
}
.react-tel-input .sn {
  background-position: 0 80.991736%;
}
.react-tel-input .so {
  background-position: 0 81.404959%;
}
.react-tel-input .sr {
  background-position: 0 81.818182%;
}
.react-tel-input .ss {
  background-position: 0 82.231405%;
}
.react-tel-input .st {
  background-position: 0 82.644628%;
}
.react-tel-input .sv {
  background-position: 0 83.057851%;
}
.react-tel-input .sy {
  background-position: 0 83.471074%;
}
.react-tel-input .sz {
  background-position: 0 83.884298%;
}
.react-tel-input .tc {
  background-position: 0 84.297521%;
}
.react-tel-input .td {
  background-position: 0 84.710744%;
}
.react-tel-input .tf {
  background-position: 0 85.123967%;
}
.react-tel-input .tg {
  background-position: 0 85.53719%;
}
.react-tel-input .th {
  background-position: 0 85.950413%;
}
.react-tel-input .tj {
  background-position: 0 86.363636%;
}
.react-tel-input .tk {
  background-position: 0 86.77686%;
}
.react-tel-input .tl {
  background-position: 0 87.190083%;
}
.react-tel-input .tm {
  background-position: 0 87.603306%;
}
.react-tel-input .tn {
  background-position: 0 88.016529%;
}
.react-tel-input .to {
  background-position: 0 88.429752%;
}
.react-tel-input .tp {
  background-position: 0 88.842975%;
}
.react-tel-input .tr {
  background-position: 0 89.256198%;
}
.react-tel-input .tt {
  background-position: 0 89.669421%;
}
.react-tel-input .tv {
  background-position: 0 90.082645%;
}
.react-tel-input .tw {
  background-position: 0 90.495868%;
}
.react-tel-input .ty {
  background-position: 0 90.909091%;
}
.react-tel-input .tz {
  background-position: 0 91.322314%;
}
.react-tel-input .ua {
  background-position: 0 91.735537%;
}
.react-tel-input .ug {
  background-position: 0 92.14876%;
}
.react-tel-input .gb,
.react-tel-input .uk {
  background-position: 0 92.561983%;
}
.react-tel-input .um {
  background-position: 0 92.975207%;
}
.react-tel-input .us {
  background-position: 0 93.38843%;
}
.react-tel-input .uy {
  background-position: 0 93.801653%;
}
.react-tel-input .uz {
  background-position: 0 94.214876%;
}
.react-tel-input .va {
  background-position: 0 94.628099%;
}
.react-tel-input .vc {
  background-position: 0 95.041322%;
}
.react-tel-input .ve {
  background-position: 0 95.454545%;
}
.react-tel-input .vg {
  background-position: 0 95.867769%;
}
.react-tel-input .vi {
  background-position: 0 96.280992%;
}
.react-tel-input .vn {
  background-position: 0 96.694215%;
}
.react-tel-input .vu {
  background-position: 0 97.107438%;
}
.react-tel-input .wf {
  background-position: 0 97.520661%;
}
.react-tel-input .ws {
  background-position: 0 97.933884%;
}
.react-tel-input .ye {
  background-position: 0 98.347107%;
}
.react-tel-input .za {
  background-position: 0 98.760331%;
}
.react-tel-input .zm {
  background-position: 0 99.173554%;
}
.react-tel-input .zr {
  background-position: 0 99.586777%;
}
.react-tel-input .zw {
  background-position: 0 100%;
}